html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 15pt;
  font-family: "Poppins", sans-serif;
  background-color: #0D1323;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

nav {
  width: 100vw;
  background-color: #0C1222;
  color: #fff;
  border-bottom: 1px solid #94A3B610;
}

nav .container {
  flex-direction: row;
  padding: 15px 0;

}

.logo {
  color: #00CD8A;
  font-size: 15px;
}

i {
  margin-right: 5px;
}

h1 {
  font-size: 20px;
  text-align: center;
  color: white;
  animation: example 1s ease 1;
}

p {
  font-size: 15px;
  text-align: center;
  margin: 25px 0;
  color: #94A3B6;
  animation: example 1s ease 1;
}

.container {
  width: 98vw;
  max-width: 600px;

}

.hero {
  height: 100vh;
  position: relative;
}

span {
  position: absolute;
  color: #94A3B620;
  font-size: 60px;
  top: 10%;
}

.btn {
  color: white;
  background-color: #0384C6;
  padding: 8px 30px;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 600;
  animation: example 1s ease 1;
}

.card {
  position: relative;
  height: 180px;


}


.line {
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #94A3B650;
  left: 10%;
}

.index {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid #94A3B650;
  color: #94A3B650;
  background-color: #0D1323;
  border-radius: 20px;
  left: 10%;
  transform: translateX(-50%);
  font-size: 15px;
}

.text {
  margin-left: 20%;
}

.day {
  color: #94A3B650;
  font-weight: 300;
  font-size: 15px;
  padding-top: 5px;
}

.topic {
  color: #0384C6;
  font-size: 18px;
  margin: 5px 0;
}

.content {
  color: #94A3B6;
  font-size: 15px;
  margin-bottom: 60px
}

a {
  color: white;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}

.title {
  margin: 40px 0;
}

footer {
  background-color: #0C1222;
  border-top: 1px solid #94A3B610;
  width: 100vw;
}

h2 {
  font-size: 15px;
  text-align: center;
  margin: 20px 0;
  color: #94A3B6;
  font-weight: 500;
}

h2 a {
  color: #00ADB5;
}

/* The animation code */
@keyframes example {
  0% {
    opacity: 0;
    transform: translateY(20px)
  }

  100% {
    opacity: 1;
     transform: translateY(0px)
}
}
